h1{
	text-align: center;
}
h2 {
	font-size: 30px;
	text-align: center;
	margin: 0px;
	height: 40px;
  	width: 150px;
	border :5px solid black;
	border-top:0;
	border-right: 0;
	position: absolute;
	top:0;
	right:0;
	display:inline;
}

* {
  box-sizing: border-box;
}

#t1{
	background-color: pink;
}

#t2{
	background-color: yellow;
}

#t3{
	background-color: orange;
}


section {
  border: 5px solid black;
  height: auto;
  margin-right: 16px;
  margin-left: 16px;
  position: relative;
  background-color: lightgrey;
}



/* Simple Responsive Framework. */
.row {
  width: 100%;
}

.border{
	border: 1px solid black;
}

/********** Large devices only **********/
@media (min-width: 992px) {
   .col-lg-4{
    float: left;
  }
  
  .col-lg-4 {
    width: 33.33%;
  }
  
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }

  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}